@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family:
    var(--font-thai),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Thonburi",
    "Sarabun",
    sans-serif;
}

/* Utilities */
.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@layer base {
  html,
  body {
    font-family:
      var(--font-noto-sans-thai),
  }
}